<h2 mat-dialog-title>
    Add Appointment
</h2>

<mat-dialog-content>
    <form [formGroup]="form" class="dialog-form">
        <div class="form-grid">

            <mat-form-field appearance="outline">
                <mat-label>Patient</mat-label>
                <mat-select formControlName="patientId">
                    <mat-option *ngFor="let patient of patients" [value]="patient.UHID">
                        {{ patient.name }} ({{ patient.UHID }})
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Doctor</mat-label>
                <mat-select formControlName="doctorEmployeeId" (selectionChange)="onDoctorChange($event.value)">
                    <mat-option *ngFor="let doctor of doctors" [value]="doctor.employeeCode">
                        {{ doctor.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Appointment Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Time Slot</mat-label>
                <mat-select formControlName="timeSlot">
                    <mat-option *ngFor="let slot of availableSlots" [value]="slot">
                        {{ slot }}
                    </mat-option>
                </mat-select>

                @if (availableSlots.length === 0 && form.get('doctorEmployeeId')?.value) {
                <mat-hint>
                    No slots available for this doctor
                </mat-hint>
                }
            </mat-form-field>


        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="loading" (click)="onSubmit()">
        {{ loading ? 'Creating...' : 'Create Appointment' }}
    </button>
</mat-dialog-actions>